{% autoescape off %}
Olá,

Você está recebendo este e-mail porque solicitou a redefinição de senha da sua conta no Bolão Online.

Por favor, acesse o link abaixo para definir uma nova senha:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Se o link acima não funcionar, copie e cole o URL no seu navegador.

Seu nome de usuário, caso tenha esquecido: {{ user.get_username }}

Atenciosamente,
Equipe Bolão Online

Observação: Se você não solicitou esta redefinição, você pode ignorar este e-mail com segurança.
{% endautoescape %}